certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
future==0.18.2
greenlet==1.1.0
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
line-bot-sdk==1.19.0
MarkupSafe==1.1.1
mysql==0.0.2
mysqlclient==2.0.3
numpy==1.20.3
paho-mqtt==1.5.1
protobuf==3.15.8
psycopg2==2.8.6
psycopg2-binary==2.8.6
PyMySQL==1.0.2
python-dateutil==1.5
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.15
urllib3==1.26.4
Werkzeug==1.0.1
